{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5 form-container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <form method="post" class="login-form">
                        {% csrf_token %}
                        <h1 style="color: rgb(225,80,91)">Log in</h1>

                        {% if error %}
                            <p style="color: red;">{{ error }}</p> <!-- Mostrará el error en caso de fallar la autenticación -->
                        {% endif %}

                        <div class="form-group">
                            <label style="color: black" for="username">Username:</label>
                            {{ form.username }} <!-- Campo de username -->
                        </div>

                        <div class="form-group">
                            <label style="color: black" for="password">Password:</label>
                            {{ form.password }} <!-- Campo de password -->
                        </div>

                        <button type="submit" class="btn btn-primary">Log in</button>

                        <p>Forgot your password? Contact the administrator.</p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block head %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
{% endblock %}
