{% extends 'base.html' %}

{% block content %}
  <h1>About PoolMate</h1>
  <p>We are a team of students who have created PoolMate with the intention of helping reduce traffic and pollution at EAFIT University.</p>
  <p>Our mission is to provide an easy and secure platform for U users to find and reserve parking spaces.</p>
  
  <h2>Team</h2>
  <ul>
    <li>Pablo Baez Santamaria</li>
    <li>Juan Sebastian Camacho</li>
    <li>Felipe Uribe Correa</li>
  </ul>
  
  <h2>Azure Deployment</h2>
  <p>You can access our PoolMate app hosted on Azure by visiting the following link: <a href="https://dev.azure.com/POOLMATE/Poolmate">https://dev.azure.com/POOLMATE/Poolmate</a></p>
  
  <h2>GitHub Repository</h2>
  <p>Our PoolMate project is open source. You can find the source code and contribute on our GitHub repository: <a href="https://github.com/PabloBaezS/PoolMate_PI1">https://github.com/PabloBaezS/PoolMate_PI1</a></p>
{% endblock %}
