{% extends 'base.html' %}

{% block content %}
  <h1>Security at PoolMate</h1>
  <p>At PoolMate, we prioritize the security and privacy of our users. We have implemented stringent security measures to ensure a safe and protected experience within our app.</p>
  <p>Here are some of the key security features and practices we follow:</p>
  <ul>
    <li>Data Encryption: All user data, including personal information and passwords, are encrypted using industry-standard encryption algorithms.</li>
    <li>Secure Authentication: We employ secure authentication methods to verify user identities and prevent unauthorized access.</li>
    <li>Strict Access Controls: We implement role-based access controls to ensure that users can only access the information they are authorized to see.</li>
    <li>Regular Security Audits: We conduct periodic security audits to identify and address any vulnerabilities in our system.</li>
    <li>Secure Communication: All communication between the app and our servers is encrypted using secure protocols.</li>
    <li>Data Protection: We adhere to strict data protection laws and regulations to safeguard user information.</li>
  </ul>

  <p>Rest assured that your information is in safe hands when using PoolMate. We are committed to maintaining the highest standards of security to protect your privacy.</p>
{% endblock %}
