{% extends 'base.html' %}
{% load static %}
{% block title %}Registration{% endblock %}

{% block content %}
<div class="container mt-5 form-container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        <h1 style="color: rgb(225,80,91)">Registration</h1>
                        {{ form.as_p }} <!-- Aquí se asegura que los campos username, email, password aparezcan -->
                        <div class="form-group">
                            <button type="submit" class="btn register">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block head %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% endblock %}

{% block navregistro %}active{% endblock %}
